# php_flag display_errors off

Options All -Indexes

RewriteEngine On

RewriteRule ^([-a-zA-Z0-9]+)$ index.php?ruta=$1

# REGLAS PARA LA REST API
RewriteRule ^api/alistar/([-a-zA-Z0-9/]+)$ api/alistar.php?ruta=$1 [QSA,NC,L]
RewriteRule ^api/cajas/([-a-zA-Z0-9/]+)$ api/cajas.php?ruta=$1 [QSA,NC,L]
RewriteRule ^api/transporte/([-a-zA-Z0-9/]+)$ api/transporte.php?ruta=$1 [QSA,NC,L]
